@font-face {
  /*
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal; */


  font-family: 'Minecraft-Regular';
  src:  url('..//styles/Minecraft-Regular.ttf.woff') format('woff');
}


#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #222222; /* Black background color */
  color: rgb(197, 197, 197); /* White text color */
  text-align: center; /* Centered text */
  font-size: 15px;
  border-radius: 20px; /* Rounded borders */
  padding: 10px 20px 10px 20px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}


#qweqwe {width: 100%;
z-index: -50;
overflow: hidden;
animation-duration: 3.5s;
                animation-name: img;
                animation-iteration-count: infinite;
                opacity: 0;
                }
                @keyframes img {
                0% {
                opacity: 40%;
                }
                50%{
                opacity: 100%;
                }
                100%{
                opacity: 40%;
                
                }
}


/* modal overlay */
#overlay { width:100%; 
               height:100%; 
               background:rgba(0, 0, 0, 0.795);
               position:fixed;
               top:0; left:0; 
               z-index:20; 
               visibility:hidden; 
               opacity:0;   
               transition:all 1s ease;
              }

/* modal box */
.modal { 
  display: contents !important;
  z-index:21;
  width:80%; 
             background:#f5f5f5; 
             margin:150px auto; }

.modal_content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 530px;
  height: 570px;
  z-index: 10;
  position: absolute;
  padding: 30px;
  background-image: url("..//img/iframe.png"); 
}

*/


#wb{
  margin: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
  background-color: black;
  z-index: 5;
  position: absolute;
  
}

#custom-cursor{
  width: 200px;
  height: 172px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("..//img/hand2.png");
  z-index: 100;
}


* {
  font-family: 'Minecraft-Regular';
  cursor: none;
}

#bkimg{
  width: 100%;
  z-index: -20;
}
/* overwrite css */


.TTT{
  color: #fff !important;

  font-size: 56px !important;
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  margin-top: 40px !important;

}

.TTT1{
  color: #fff !important;

  font-size: 56px !important;
  background-color: #00000000 !important;
  border-color: #00000000 !important;
  margin-top: 40px !important;

}



.TTT:hover {
  color: rgb(122, 122, 122) !important;
  /* background-color: #00000000 !important; */
  border-color: #00000000!important;
  margin-top: 40px !important;
}

.TTT1:hover {
  color: rgb(122, 122, 122) !important;
  /* background-color: #00000000 !important; */
  border-color: #00000000!important;
  margin-top: 40px !important;
}

/* overwrite css end */

body{
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
}

#wrapa{
  position: relative;
  padding: 24px 12px 60px;
}

#randomize .btn-group {
  margin: 32px auto 0;
  width: 120px;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.slot-wrapper{
  max-width: 1080px;
  margin: 0 auto;
  background-image: url("..//img/main.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  gap: 12px;
  padding: 32px 16px;
  border:solid 5px #00000000;
  background-color: #00000000;
  flex-wrap: wrap;
  justify-content: center;
}

#randomize .row > div.slot-column > .slot-inner {
  padding: 48px 24px 80px;
  width: 100%;
  max-width: 340px;
  background: #00000000;
  border: solid #00000000 5px;
  border-radius: 3%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}



.randomizeMachine {
  width: min(32vw, 180px);
  height: min(32vw, 180px);
}

@media (max-width: 992px) {
  #wrapa{
    padding-top: 16px;
  }

  .slot-wrapper{
    background-size: cover;
    padding: 24px 12px;
  }

  #randomize .row > div.slot-column > .slot-inner {
    padding: 36px 16px 60px;
  }

  #randomize .btn-group {
    width: 100px;
    height: 100px;
  }

  .TTT,
  .TTT1{
    font-size: 44px !important;
  }
}

@media (max-width: 768px) {
  * {
    cursor: auto;
  }

  #custom-cursor{
    display: none;
  }

  body{
    padding-bottom: 24px;
  }

  .slot-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background-size: 140%;
  }

  #randomize .row > div.slot-column > .slot-inner {
    padding: 24px 16px 40px;
  }

  #randomize .btn-group {
    margin-top: 16px;
  }

  .randomizeMachine {
    width: 160px;
    height: 160px;
  }

  .TTT,
  .TTT1{
    font-size: 36px !important;
  }
}



.machineResult {
  color: #fff;
  text-align: center;
  font-weight: 900;
  height: 50px !important;
  background: transparent !important;
  font-size: 18px;
  padding: 10px !important;
}


.github-corner:hover .octo-arm{animation:octocat-wave 4000ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 3000ms ease-in-out}}
